<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trailers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el:${dolznost}">
<br>
        <form th:action="'/dolznost/edit/' + ${el.id}" method="post" th:object="${dolznost}">

        <input type="text" th:value="${el.nameDolznosti}"  th:field="*{nameDolznosti}"  class="btn btn-light" id="nameDolznosti" name="nameDolznosti" placeholder="Наименование должности">
        <div th:if="${#fields.hasErrors('nameDolznosti')}" th:errors="*{nameDolznosti}"></div>
        <input type="text"  th:field="*{oklad}"   class="btn btn-light" id="oklad" name="oklad" placeholder="Оклад">
        <div th:if="${#fields.hasErrors('oklad')}" th:errors="*{oklad}"></div>

        <input type="submit" value="Изменить" class="btn btn-success"><br>
        <br><a href="/dolznost/" class="btn btn-warning">Назад</a>
    </form>


</div>
</body>
</html>