<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trailers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el : ${dolznost}" class="btn btn-light">
    <h2 th:text="${el.nameDolznosti}"></h2>
    <h2 th:text="${el.oklad}"></h2>

    <a th:href="'/dolznost/edit/'+ ${el.id}" class="btn btn-dark">Изменить</a>
    <a th:href="'/dolznost/del/'+ ${el.id}" class="btn btn-danger">Удалить</a>
    <a href="/dolznost/" class="btn btn-warning">Назад</a>

</div>


</body>
</html>