<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DateRaboti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<br>
<form action="/dateRaboti/adde" method="post" style="display: inline-block" th:object="${dateRaboti}">

    <input type="text"  th:field="*{daysRaboti}"  class="btn btn-light" id="daysRaboti" name="daysRaboti" placeholder="День работы">
    <div th:if="${#fields.hasErrors('daysRaboti')}" th:errors="*{daysRaboti}"></div>
    <input type="text"  th:field="*{timesRaboti}"   class="btn btn-light" id="timesRaboti" name="timesRaboti" placeholder="Часы работы">
    <div th:if="${#fields.hasErrors('timesRaboti')}" th:errors="*{timesRaboti}"></div>

    <input type="submit" value="Добавить" class="btn btn-success"><br>
    <br><a href="/dateRaboti/" class="btn btn-warning">Назад</a>
</form>



</body>
</html>