<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cource</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el:${cource}">
<br>
        <form th:action="'/cource/edit/' + ${el.id}" method="post" th:object="${cource}">

        <input type="text" th:value="${el.nameCource}"  th:field="*{nameCource}"  class="btn btn-light" id="nameCource" name="nameCource" placeholder="Название курса">
        <div th:if="${#fields.hasErrors('nameCource')}" th:errors="*{nameCource}"></div>
        <input type="text"  th:field="*{cource}"   class="btn btn-light" id="cource" name="cource" placeholder="Текст курса">
        <div th:if="${#fields.hasErrors('cource')}" th:errors="*{cource}"></div>
            <input type="text"  th:field="*{cources}"  class="btn btn-light" id="cources" name="cources" placeholder="Текст">
            <div th:if="${#fields.hasErrors('cources')}" th:errors="*{cources}"></div>

        <input type="submit" value="Изменить" class="btn btn-success"><br>
        <br><a href="/cource/" class="btn btn-warning">Назад</a>
    </form>


</div>
</body>
</html>