<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Komnati</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<br>
<form action="/komnati/adde" method="post" style="display: inline-block" th:object="${komnati}">

    <input type="text"  th:field="*{nomerKomnati}"  class="btn btn-light" id="nomerKomnati" name="nomerKomnati" placeholder="Номер комнаты">
    <div th:if="${#fields.hasErrors('nomerKomnati')}" th:errors="*{nomerKomnati}"></div>
    <input type="text"  th:field="*{status}"   class="btn btn-light" id="status" name="status" placeholder="Статус">
    <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
    <select  name="nameT"  class="btn btn-light">
        <div th:each="element : ${typeKomnati}">
            <option th:text="${element.nameT}"></option>
        </div>
    </select>
    <select  name="strana"  class="btn btn-light">
        <div th:each="element : ${hotel}">
            <option th:text="${element.strana}"></option>
        </div>
    </select>

    <input type="submit" value="Добавить" class="btn btn-success"><br>
    <br><a href="/komnati/" class="btn btn-warning">Назад</a>
</form>



</body>
</html>