<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Users info</title>
</head>
<div th:insert="fragments/header :: defaultheader"></div>
<body>
<center>
  <br>
<form action="/admin" method="post">
  <div th:each="el:${one_user}">
    <input type="hidden" th:value="${el.id}" name="userId">
    <input type="text" th:value="${el.username}" name="username" class="btn btn-warning" placeholder="Введите логин">
    <input type="text" th:value="${el.password}" name="password" class="btn btn-warning" placeholder="Введите пароль">

  </div>
  <br>
  <div th:each="role:${roles}" class="btn btn-light">
    <div th:each="user:${one_user}">
    <input th:id="${role}"
           type="checkbox"
           th:name="${'roles[]'}"
           th:value="${role}"
           th:checked="${#lists.contains(user.roles, role)}">
      <label th:text="${role}"/>
    </div>
      </div>
  <br>
  <br>
      <input type="submit" value="Изменить роль" class="btn btn-dark">
</form>

</center>>

</body>
</html>