<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<br>
<div th:each="el : ${hotel}" class="btn btn-light" >
    <h2 th:text="${el.strana}"></h2>
    <h2 th:text="${el.gorod}"></h2>


    <a th:href="'/hotel/' + ${el.id} " class="btn btn-warning">Подробнее</a>

</div>
<br>
<form method="get" action="/hotel/searhotel"><br>
    <input type="text" name="strana" id="strana"  class="btn btn-dark"  placeholder="Поиск...">
    <input type="submit" value="Найти" class="btn btn-outline-dark me-2">
</form>
<br>
<a href="/hotel/adde" class="btn btn-warning">Добавить</a>

</body>
</html>