<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TypeKomnati</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<br>
<form action="/typeKomnati/adde" method="post" style="display: inline-block" th:object="${typeKomnati}">

    <input type="text"  th:field="*{nameT}"  class="btn btn-light" id="nameType" name="nameType" placeholder="Наим">
    <div th:if="${#fields.hasErrors('nameT')}" th:errors="*{nameT}"></div>
    <input type="text"  th:field="*{stoimost}"   class="btn btn-light" id="stoimost" name="stoimost" placeholder="Стоимость">
    <div th:if="${#fields.hasErrors('stoimost')}" th:errors="*{stoimost}"></div>

    <input type="submit" value="Добавить" class="btn btn-success"><br>
    <br><a href="/typeKomnati/" class="btn btn-warning">Назад</a>
</form>



</body>
</html>