<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${name}" />
<a href="/calc">Нажми на меня</a><br>
<a href="/res">Нажми на меня и получишь результат</a><br>
<a href="/res/?variable=2">Нажми на меня и получишь результат со значением</a>

<br>

<form method="post" action="/res">
    <input id="variable" name="variable" type="number"><br>
    <input id="variable2" name="variable2" type="number"><br>
    <input value="Рассчитать с Post" type="submit"><br>
    <select id="select" name="select">
        <option value="1">Сложение</option>
        <option value="2">Вычитание</option>
        <option value="3">Умножение</option>
        <option value="4">Деление</option>
    </select>
</form>
<form method="get" action="/getres">
    <input id="variable3" name="variable3" type="number"><br>
    <input id="variable4" name="variable4" type="number"><br>
    <input value="Рассчитать c Get" type="submit"><br>
    <select id="select1" name="select1">
        <option value="1">Сложение</option>
        <option value="2">Вычитание</option>
        <option value="3">Умножение</option>
        <option value="4">Деление</option>
    </select>
</form>

</body>
</html>