<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/header :: defaultheader"></div>
<head>
    <title>Добавление нового человека</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br>
<center>
<form th:action="${'/personOTM/add'}" method="post" >
    <input type="text" name="name" placeholder="Введите имя человека" class="btn btn-light">
    <select  name="street"  class="btn btn-light">
        <div th:each="element : ${address}">
            <option th:text="${element.street}"></option>
        </div>
    </select>
    <br>
    <br>
    <button type="submit"  class="btn btn-dark">Добавить (один ко многим)</button>
</form>
</center>
</body>
</html>