<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Role</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<br>
<div th:each="el : ${role}" class="btn btn-light" >
    <h2 th:text="${el.nameRole}"></h2>

    <a th:href="'/role/' + ${el.id} " class="btn btn-warning">Подробнее</a>

</div>
<br>
<form method="get" action="/role/seartrailers"><br>
    <input type="text" name="nameRole" id="nameRole"  class="btn btn-dark"  placeholder="Поиск...">
    <input type="submit" value="Найти" class="btn btn-outline-dark me-2">
</form>
<br>
<a href="/role/adde" class="btn btn-warning">Добавить</a>

</body>
</html>